---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  name: "{{ hostname }}"
  criSocket: "/var/run/crio/crio.sock"
  kubeletExtraArgs:
    hostname-override: "{{ hostname }}"
    cgroup-driver: "systemd"
    container-runtime: remote
    container-runtime-endpoint: "/var/run/crio/crio.sock"
...
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
apiServer:
  certSANs:
    - "{{ publicname }}"
    - "{{ hostname }}"
    - "kubernetes"
    - "kubernetes.default"
    - "kubernetes.default.svc"
    - "kubernetes.default.svc.cluster.local"
    - "{{ privateip }}"
    - "10.96.0.1"
clusterName: "testcluster"
etcd:
  local:
    serverCertSANs:
      - "{{ publicname }}"
      - "{{ hostname }}"
      - "localhost"
      - "{{ privateip }}"
      - "127.0.0.1"
      - "::1"
    peerCertSANs:
      - "{{ publicname }}"
      - "{{ hostname }}"
      - "localhost"
      - "{{ privateip }}"
      - "127.0.0.1"
      - "::1"
networking:
  dnsDomain: "cluster.local"
  podSubnet: "10.244.0.0/16"
  serviceSubnet: "10.96.0.0/16"
...
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
...
