---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
nodeRegistration:
  name: "{{ hostname }}"
  criSocket: "/var/run/crio/crio.sock"
  kubeletExtraArgs:
    cgroup-driver: "systemd"
    hostname-override: "{{ hostname }}"
    container-runtime: remote
    container-runtime-endpoint: "/var/run/crio/crio.sock"
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ endpoint }}"
    token: "{{ token }}"
    caCertHashes:
    - "{{ hash }}"
...
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
...
