---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: "{{ hostname }}"
  criSocket: "/var/run/crio/crio.sock"
  kubeletExtraArgs:
    hostname-override: "{{ hostname }}"
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ endpoint }}"
    token: "{{ token }}"
    caCertHashes:
    - "{{ hash }}"
...
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
...
